@charset "UTF-8";
.boxTituloSeccion .tituloSeccion {
  font-family: "Fira Sans", sans-serif;
  font-size: clamp(1rem, 6vw, 2rem);
  font-weight: 500;
  color: #ff5733;
  margin-bottom: 0px; }

.centrado {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 5%; }

.efectos {
  color: #ff5733; }

.dorado {
  color: #fed501; }

.audio {
  color: #c70039; }

.celeste {
  color: #5fbde2; }

.blanco {
  color: #ffffff; }

.facebook {
  color: #3c3edf; }

.instagram {
  color: #fd5949; }

.youtube {
  color: #ff2020; }

.twitter {
  color: #60a5ff; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Encode Sans", sans-serif;
  font-weight: 300;
  font-size: clamp(0.6rem, 4vw, 1rem);
  color: #ffffff;
  background-color: #0f0e0e; }
  body main {
    width: 100%; }

@font-face {
  font-family: "Crystal Radio Kit";
  src: url(../../fonts/ClusterFont.TTF); }

.errorColapse {
  padding-top: 120px; }

.seccionColumna {
  display: flex;
  flex-direction: column;
  align-items: center; }

.boxTituloSeccion {
  width: 100%;
  align-self: flex-start;
  margin-left: 0px;
  margin-bottom: 40px;
  border-bottom: 1px solid #581845; }
  .boxTituloSeccion p, .boxTituloSeccion h2 {
    font-size: clamp(0.7rem, 4vw, 1rem);
    font-weight: 300;
    color: #c70039;
    margin-bottom: 0px; }

/* ESTILOS NAVEGADOR */
.navegacion {
  position: fixed;
  width: 100%;
  z-index: 10;
  /* BARRA NOTIFICACION */ }
  .navegacion .header-oferta {
    display: none; }
  .navegacion .menu-barra {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    /* -- Logo -- */ }
    .navegacion .menu-barra .menu-logo {
      position: absolute;
      left: 45.5%;
      top: 10px; }
      .navegacion .menu-barra .menu-logo .logo {
        width: 40px;
        height: 40px;
        border-radius: 50%; }
    .navegacion .menu-barra .menu-list {
      padding-left: 0px;
      list-style: none;
      border-bottom-right-radius: 40%;
      border-bottom-left-radius: 40%; }
      .navegacion .menu-barra .menu-list li .menu-link {
        display: block;
        padding: 10px;
        color: #ffffff;
        font-family: "Fira Sans", sans-serif;
        text-decoration: none; }
        .navegacion .menu-barra .menu-list li .menu-link:hover, .navegacion .menu-barra .menu-list li .menu-link:active {
          color: #ffffff;
          outline: solid 1px #ff5733;
          background-color: #000000; }
    .navegacion .menu-barra #checkbox {
      display: none; }
      .navegacion .menu-barra #checkbox:not(:checked) ~ .menu-list {
        position: fixed;
        height: -50vh; }
      .navegacion .menu-barra #checkbox:not(:checked) ~ .menu-list li {
        display: none; }
      .navegacion .menu-barra #checkbox:checked ~ .menu-list {
        position: fixed;
        top: 60px;
        width: 100%;
        height: 40vh;
        background-color: #000000;
        overflow: hidden;
        list-style: none;
        text-align: center;
        transition: all 0.2s; }
        .navegacion .menu-barra #checkbox:checked ~ .menu-list li {
          display: block;
          line-height: 30px;
          margin: 30px 0;
          transition: all 0.4s; }
      .navegacion .menu-barra #checkbox:checked ~ .menu-btn {
        transform: rotate(180deg);
        transition: .5s; }
    .navegacion .menu-barra .menu-btn {
      display: block;
      font-size: 25px;
      color: #c70039;
      margin-left: 20px;
      cursor: pointer;
      transition: .5s; }

.cardProducto {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background-color: #000000;
  border-radius: 0.9rem;
  overflow: hidden; }
  .cardProducto .contenedor-producto {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .cardProducto .contenedor-producto .contenedor-hero {
      width: 40%;
      padding: 20px; }
      .cardProducto .contenedor-producto .contenedor-hero .producto-hero {
        width: 100%;
        height: auto; }
    .cardProducto .contenedor-producto .contenedor-text {
      width: 60%;
      height: 300px;
      text-align: left;
      padding: 20px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .cardProducto .contenedor-producto .contenedor-text h3 {
        margin: 10px 0px;
        font-family: "Fira Sans", sans-serif;
        font-size: clamp(0.8rem, 5vw, 1.3rem);
        color: #c70039; }
      .cardProducto .contenedor-producto .contenedor-text div {
        margin-bottom: 20px; }
        .cardProducto .contenedor-producto .contenedor-text div h4 {
          margin-bottom: 10px;
          font-size: clamp(0.6rem, 2vw, 0.8rem); }
        .cardProducto .contenedor-producto .contenedor-text div div {
          height: 100px;
          margin-right: 20px;
          overflow: auto;
          margin-bottom: 10px; }
          .cardProducto .contenedor-producto .contenedor-text div div p {
            padding-right: 15px;
            font-size: clamp(0.6rem, 2vw, 0.8rem); }
        .cardProducto .contenedor-producto .contenedor-text div a {
          color: #ffffff;
          margin-bottom: 10px;
          text-transform: uppercase;
          font-size: clamp(0.6rem, 2vw, 0.8rem); }
      .cardProducto .contenedor-producto .contenedor-text button {
        width: 80%;
        padding: 5px 10px;
        background-color: #141518;
        border: solid 1px #c70039;
        border-radius: 0.4rem;
        font-family: "Encode Sans", sans-serif;
        font-weight: 300;
        color: #ffffff; }
        .cardProducto .contenedor-producto .contenedor-text button:hover {
          cursor: pointer; }
        .cardProducto .contenedor-producto .contenedor-text button:active {
          transform: scale(0.9);
          transition: all 100ms; }
  .cardProducto .contenedor-clasificacion {
    padding: 10px;
    width: 100%;
    text-align: right; }
    .cardProducto .contenedor-clasificacion a {
      display: inline-block;
      font-size: clamp(0.6rem, 2vw, 0.8rem);
      color: #ffffff;
      margin-right: 10px; }
      .cardProducto .contenedor-clasificacion a .fa-star {
        color: #fed501;
        font-size: 1rem;
        margin-right: 5px; }
      .cardProducto .contenedor-clasificacion a .fa-comment-dots {
        color: #ff5733;
        font-size: 1rem;
        margin-right: 5px; }

.card-artist {
  margin: 30px;
  width: 80%;
  max-width: 350px;
  background-color: #000000;
  border-radius: 0.9rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .card-artist .artist-hero {
    width: 100%; }
  .card-artist .artist-text {
    width: 95%; }
    .card-artist .artist-text h2 {
      margin: 10px 0px;
      font-family: "Fira Sans", sans-serif;
      font-size: clamp(0.8rem, 5vw, 1.3rem);
      color: #c70039; }
    .card-artist .artist-text p {
      margin-bottom: 20px; }

.card-taller {
  margin: 30px;
  width: 90%;
  max-width: 400px;
  background-color: #000000;
  border-radius: 0.9rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 10px 10px 10px #000000; }
  .card-taller .taller-hero {
    width: 100%; }
    .card-taller .taller-hero iframe {
      max-width: 100%;
      height: auto;
      aspect-ratio: 16/9; }
    .card-taller .taller-hero img {
      max-width: 100%;
      height: auto;
      aspect-ratio: 16/9; }
  .card-taller .taller-text {
    width: 100%;
    padding: 0 20px; }
    .card-taller .taller-text h3 {
      margin-bottom: 10px;
      margin-top: 20px;
      font-family: "Fira Sans", sans-serif;
      font-size: clamp(0.8rem, 5vw, 1.3rem);
      color: #c70039; }
    .card-taller .taller-text p {
      margin-bottom: 20px; }

.botonVerMas {
  max-width: 300px;
  margin: 50px 0;
  padding: 10px 70px;
  background-color: #141518;
  border: solid 1px #c70039;
  border-radius: 0.4rem;
  font-family: "Encode Sans", sans-serif;
  font-size: 0.8rem;
  color: #ffffff;
  text-decoration: none;
  text-align: center; }
  .botonVerMas:hover {
    background-color: #0c0d0f; }
  .botonVerMas:active {
    transform: scale(0.9);
    transition: all 100ms; }

.headerIndex {
  background-image: url(./img/banners/banner_movile03.png);
  background-position: center center;
  background-repeat: none;
  background-size: cover;
  height: 100vh; }
  .headerIndex .tituloHeader {
    /* inline-block esta evitando que al dar margin-top me mueva tambien el padre (falla de CSS colapsado de margenes)*/
    display: inline-block;
    width: 100%;
    margin-top: 70vh;
    text-align: center; }
    .headerIndex .tituloHeader h1 {
      margin-left: -20px;
      margin-bottom: 0px;
      color: #fed501;
      font-family: "Crystal Radio Kit";
      font-size: clamp(2rem, 20vw, 9rem);
      text-shadow: 6px 0px #ff5733, 12px 0px #c70039, 18px 0px #900c3f, 24px 0px #581845; }
    .headerIndex .tituloHeader h2 {
      font-weight: 300;
      font-size: clamp(0.2rem, 4vw, 2rem);
      color: #ffff; }

.boxNosotros {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .boxNosotros .textoNosotros {
    max-width: 500px;
    margin-bottom: 20px;
    overflow: auto; }
    .boxNosotros .textoNosotros p {
      padding: 0px 30px 0px;
      margin: 0 auto; }

.boxVideos {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .boxVideos .video {
    margin: 20px; }
    .boxVideos .video iframe {
      max-width: 100%;
      height: auto;
      aspect-ratio: 16/9;
      border-radius: 0.5rem;
      box-shadow: 10px 10px 10px #000000; }

.galeriaTop {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px; }
  .galeriaTop .top {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
    background-image: url(../../img/productos/top/fondo_top_500x300.png);
    background-position: center center; }
    .galeriaTop .top img {
      width: 100%;
      max-width: 500px; }

.contenedorConFondo {
  width: 100%;
  height: 259px;
  background-image: url(./img/banners/banner_002.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center; }
  .contenedorConFondo .boxFormulario {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .contenedorConFondo .boxFormulario .textoSub {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .contenedorConFondo .boxFormulario .textoSub h3 {
        margin-bottom: 10px;
        font-family: "Fira Sans", sans-serif;
        font-size: clamp(1rem, 6vw, 1.6rem);
        font-weight: 500;
        color: #ff5733; }
      .contenedorConFondo .boxFormulario .textoSub p {
        font-size: clamp(0.6rem, 4vw, 1rem);
        color: #ffffff;
        font-family: "Encode Sans", sans-serif;
        margin-bottom: 20px; }
    .contenedorConFondo .boxFormulario .formularioSub {
      width: 100%;
      max-width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 100px; }
      .contenedorConFondo .boxFormulario .formularioSub .inputSub {
        width: 100%;
        padding: 10px 10px;
        margin-bottom: 10px;
        border: 0px;
        border-radius: 0.4rem;
        font-size: clamp(0.6rem, 4vw, 1rem);
        text-align: center; }
      .contenedorConFondo .boxFormulario .formularioSub .botonSub {
        background-color: #141518;
        border: solid 1px #c70039;
        font-size: clamp(0.6rem, 4vw, 1rem);
        color: #ffffff; }
        .contenedorConFondo .boxFormulario .formularioSub .botonSub:active {
          background-color: #0c0d0f;
          transform: scale(0.9);
          transition: all 150ms; }

.contenedorSesiones {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .contenedorSesiones .boxSesion {
    /* Si borro display flex la imagen no abarca todo el padre. */
    display: flex;
    position: relative;
    width: 90%;
    max-width: 380px;
    margin-bottom: 40px;
    overflow: hidden;
    border-radius: 0.9rem;
    box-shadow: 0px 15px 20px #000000; }
    .contenedorSesiones .boxSesion img {
      width: 100%;
      height: 100%; }
    .contenedorSesiones .boxSesion .cajaTexto {
      width: 75%;
      position: absolute;
      top: 70%;
      left: 20px; }
      .contenedorSesiones .boxSesion .cajaTexto h4 {
        font-family: "Fira Sans", sans-serif;
        font-size: clamp(0.8rem, 5vw, 1.3rem);
        color: #ff5733;
        color: #c70039; }
      .contenedorSesiones .boxSesion .cajaTexto p {
        font-size: clamp(0.7rem, 3vw, 0.9rem);
        font-family: "Encode Sans", sans-serif;
        color: #ffffff; }
    .contenedorSesiones .boxSesion a .play-mobile {
      position: absolute;
      color: #ffffff;
      font-size: clamp(1rem, 8vw, 2rem);
      left: 85%;
      top: 80%;
      transition: all 150ms; }
      .contenedorSesiones .boxSesion a .play-mobile:active {
        transform: scale(0.9); }

.galeriaProductos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.centrado ul {
  width: fit-content;
  margin: 0 auto;
  list-style: circle;
  color: #ffffff;
  margin-bottom: 50px; }

.galeriaArtistas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.galeriaTaller {
  display: flex;
  flex-direction: column;
  align-items: center; }

.contenedor-marcas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .contenedor-marcas .logo-marca {
    width: 120px;
    height: 50px;
    margin: 20px; }

.boxContacto {
  width: 100%; }
  .boxContacto .contactoForm {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: clamp(0.7rem, 4vw, 1rem);
    color: #ffffff; }
    .boxContacto .contactoForm .datosUs {
      width: 100%;
      max-width: 690px;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .boxContacto .contactoForm .datosUs input {
        width: 100%;
        max-width: 300px;
        padding: 10px;
        margin-bottom: 10px;
        border: solid 1px #c70039;
        border-radius: 0.4rem;
        font-family: "Encode Sans", sans-serif;
        font-size: clamp(0.6rem, 4vw, 1rem); }
        .boxContacto .contactoForm .datosUs input:focus {
          outline-color: #c70039;
          background-color: #ffffff; }
    .boxContacto .contactoForm .tipoMsn {
      margin-bottom: 20px; }
      .boxContacto .contactoForm .tipoMsn .label {
        margin-left: 5px;
        margin-right: 20px; }
    .boxContacto .contactoForm .textMsn {
      width: 100%;
      max-width: 690px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column; }
      .boxContacto .contactoForm .textMsn textarea {
        padding: 10px;
        border: solid 1px #c70039;
        border-radius: 0.4rem;
        resize: none;
        font-family: "Encode Sans", sans-serif;
        font-size: clamp(0.6rem, 4vw, 1rem); }
        .boxContacto .contactoForm .textMsn textarea:focus {
          outline-color: #c70039;
          background-color: #ffffff; }
    .boxContacto .contactoForm .boton .btnEnviar {
      padding: 10px 50px;
      background-color: #141518;
      border: solid 1px #c70039;
      border-radius: 0.4rem;
      color: #ffffff;
      text-transform: uppercase; }
  .boxContacto .contenedor-maps {
    width: 100%;
    max-width: max-content;
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: #000000;
    border-radius: 0.4rem;
    text-align: center; }
    .boxContacto .contenedor-maps iframe {
      max-width: 100%;
      height: auto;
      aspect-ratio: 16/9; }
    .boxContacto .contenedor-maps ul {
      list-style: none;
      text-align: left;
      font-size: clamp(0.6rem, 4vw, 1rem); }
      .boxContacto .contenedor-maps ul li i {
        display: inline-block;
        margin: 10px; }
      .boxContacto .contenedor-maps ul li p {
        display: inline; }

p {
  margin-bottom: 30px; }

/* Estilos Footer */
footer {
  border-top: 1px solid #581845; }
  footer .navRedes {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0px; }
    footer .navRedes .redes-item {
      margin: 10px;
      padding: 5px; }
      footer .navRedes .redes-item .redes-link i {
        font-size: 1.5rem; }
        footer .navRedes .redes-item .redes-link i:hover {
          transform: scale(1.3);
          transition: all 0.5s; }
  footer p {
    align-self: flex-end;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: clamp(0.7rem, 3vw, 0.9rem);
    text-align: center; }
    footer p .diseñador {
      font-family: "Parisienne", cursive;
      font-size: 1rem;
      color: #fed501; }

@media screen and (min-width: 768px) {
  .navegacion .header-oferta {
    display: block;
    padding: 10px 0px;
    background-color: #000000;
    font-size: 11px;
    font-family: "Encode Sans", sans-serif;
    color: #ffffff;
    text-align: center; }
    .navegacion .header-oferta span {
      padding: 3px;
      background-color: #c70039; }
    .navegacion .header-oferta p {
      font-size: 11px;
      margin: 0; }
  .navegacion .menu-barra .menu-logo {
    left: 47.5%;
    top: 40px; }
  .navegacion .menu-barra .menu-list {
    top: 93; }
  .navegacion .menu-barra #checkbox:checked ~ .menu-list {
    top: 93px; }
  .contenedorConFondo .boxFormulario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .contenedorConFondo .boxFormulario .textoSub {
      margin-right: 30px; }
      .contenedorConFondo .boxFormulario .textoSub h3 {
        width: auto;
        margin-bottom: 10px; }
      .contenedorConFondo .boxFormulario .textoSub p {
        margin-bottom: 0px; }
  .galeriaArtistas .card-artist {
    width: 40%; }
  .boxContacto .contactoForm .datosUs {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px; } }

@media screen and (min-width: 1024px) {
  .navegacion .menu-barra .menu-logo {
    left: 48%;
    top: 35px; }
    .navegacion .menu-barra .menu-logo .logo {
      width: 50px;
      height: 50px; }
  .navegacion .menu-barra .menu-list {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }
    .navegacion .menu-barra .menu-list li .menu-link {
      padding: 0 10px; }
  .navegacion .menu-barra #checkbox:not(:checked) ~ .menu-list {
    position: relative;
    margin-left: 1%;
    margin-bottom: 0px; }
  .navegacion .menu-barra #checkbox:not(:checked) ~ .menu-list li {
    display: inline-block;
    line-height: 40px;
    margin: 0 20px; }
  .navegacion .menu-barra #checkbox:checked ~ .menu-list {
    position: relative;
    height: 40px;
    top: 0;
    background: none;
    transition: none;
    text-align: left; }
    .navegacion .menu-barra #checkbox:checked ~ .menu-list li {
      display: inline-block;
      line-height: 40px;
      margin: 0 20px;
      transition: none; }
  .navegacion .menu-barra .menu-btn {
    display: none; }
  .headerIndex {
    background-image: url(./img/banners/banner_001.png);
    position: relative; }
    .headerIndex .tituloHeader {
      /* inline-block esta evitando que al dar margin-top me mueva tambien el padre (falla de CSS colapsado de margenes)*/
      display: inline-block;
      width: max-content;
      margin-top: 0px;
      position: absolute;
      top: 50%;
      left: 20%;
      text-align: center; }
  .boxNosotros {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
    justify-content: center; }
    .boxNosotros .textoNosotros {
      width: 60%;
      max-width: 700px;
      margin: 0 20px;
      overflow: auto; }
      .boxNosotros .textoNosotros p {
        padding: 0px 30px 0px;
        font-size: clamp(0.6rem, 4vw, 1rem); }
  .boxVideos {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; }
    .boxVideos .video {
      margin: 20px; }
      .boxVideos .video iframe {
        max-width: 400px;
        height: auto;
        aspect-ratio: 16/9; }
  .contenedorSesiones {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; }
    .contenedorSesiones .boxSesion .capa {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      background: rgba(34, 35, 36, 0.8);
      opacity: 0; }
      .contenedorSesiones .boxSesion .capa:hover {
        opacity: 1;
        transition: all 500ms ease-out; }
    .contenedorSesiones .boxSesion a i {
      margin-top: 150px;
      color: #ffffff;
      font-size: 40px; }
    .contenedorSesiones .boxSesion:active i {
      transform: scale(0.9);
      transition: all 150ms; } }

.cardProducto {
  max-width: 400px;
  margin: 30px; }

.galeriaTaller {
  flex-direction: row;
  justify-content: center;
  align-items: center; }

@media screen and (min-width: 1440px) {
  .galeriaTop {
    flex-direction: row;
    justify-content: space-evenly;
    background-image: url(../images/productos/top/fondo_top_500x300.png);
    background-position: center center; }
  .boxVideos .video iframe {
    max-width: 100%;
    height: auto;
    aspect-ratio: 16/9; } }

@media screen and (min-width: 1920px) {
  .contenedorSub {
    justify-content: center; }
    .contenedorSub .textoSub h3 {
      width: 310px; } }
