//* RESPONSIVE - MEDIAS QUERIES TABLET - MOBILE-FIRST *//

@media screen and (min-width: 768px) {
  //BARRA NAVEGACION
  .navegacion {
    .header-oferta {
      display: block;
      padding: 10px 0px;
      background-color: $color-sexto;
      font-size: 11px;
      font-family: $font-general;
      color: $color-texto-general;
      text-align: center;
      span {
        padding: 3px;
        background-color: $color-fondo-notif;
      }
      p {
        font-size: 11px;
        margin: 0;
      }
    }
    .menu-barra {
      .menu-logo {
        left: 47.5%;
        top: 40px;
      }
      .menu-list {
        top: 93;
      }
      #checkbox {
        &:checked ~ .menu-list {
          top: 93px;
        }
      }
    }
  }

  // VIEWS - INDEX //

  //REVIEWS
  .boxVideos {
    iframe {
      width: 560px;
      height: 350px;
    }
  }

  // FORMULARIO SUBSCRIPSION
  .contenedorConFondo {
    .boxFormulario {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }

  // VIEWS - ARTISTAS //

  .galeriaArtistas {
    .card-artist {
      width: 40%;
    }
  }

  // VIEWS - TALLER //

  .taller {
    display: flex;
    flex-direction: row;
    align-items: center;
    .textoTaller {
      margin: 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

// RESPONSIVE - MEDIAS QUERIES DESKTOP CHICO - MOBILE-FIRST

@media screen and (min-width: 1024px) {
  //NAVEGACION
  .navegacion {
    .menu-barra {
      .menu-logo {
        left: 48%;
        top: 35px;
        .logo {
          width: 50px;
          height: 50px;
        }
      }
      .menu-list {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        li {
          .menu-link {
            padding: 0 10px;
          }
        }
      }
      #checkbox {
        &:not(:checked) ~ .menu-list {
          position: relative;
          margin-left: 1%;
          margin-bottom: 0px;
        }
        &:not(:checked) ~ .menu-list li {
          display: inline-block;
          line-height: 40px;
          margin: 0 20px;
        }
        &:checked ~ .menu-list {
          position: relative;
          height: 40px;
          top: 0;
          background: none;
          transition: none;
          text-align: left;
          li {
            display: inline-block;
            line-height: 40px;
            margin: 0 20px;
            transition: none;
          }
        }
      }
      .menu-btn {
        display: none;
      }
    }
  }

  // HEADER (Index)
  .headerIndex {
    background-image: url(../img/banners/banner_001.png);
  }

  .boxVideos {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  /* FORMULARIO SUBSCRIPCION (Index) */
  .boxFormulario {
    width: 760px;
    .textoSub {
      h3 {
        width: 280px;
      }
    }
  }

  /* Sesiones (Index) */
  .contenedorSesiones {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    .boxSesion {
      .capa {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        background: rgba(34, 35, 36, 0.8);
        opacity: 0;
        &:hover {
          opacity: 1;
          transition: all 500ms ease-out;
        }
      }
      a {
        i {
          margin-top: 150px;
          color: #ffffff;
          font-size: 40px;
        }
      }
      &:active {
        i {
          transform: scale(0.9);
          transition: all 150ms;
        }
      }
    }
  }
}

//* RESPONSIVE - MEDIAS QUERIES DESKTOP GRANDE - MOBILE-FIRST

@media screen and (min-width: 1440px) {
  /* Top Ventas (Index) */
  .galeriaTop {
    flex-direction: row;
    justify-content: space-evenly;
    background-image: url(../images/productos/top/fondo_top_500x300.png);
    background-position: center center;
  }

  /* Formulario Suscripcion (Index) */
  .textoSub {
    width: 25vw;
    h3 {
      width: 290px;
    }
  }
}
//* RESPONSIVE - MEDIAS QUERIES DESKTOP GRANDE - MOBILE-FIRST

@media screen and (min-width: 1920px) {
  /* Formulario Suscripcion (Index) */
  .contenedorSub {
    justify-content: center;
    .textoSub {
      h3 {
        width: 310px;
      }
    }
  }
}
