//Fuentes
$font-general: 'Encode Sans', sans-serif;
$font-titulos: 'Fira Sans', sans-serif;
$font-menu: 'Fira Sans', sans-serif;
$font-logo: Crystal Radio Kit;
$font-diseñador: 'Parisienne', cursive;

//Paleta de Colores
$color-primero: #fed501;
$color-segundo: #ff5733;
$color-tercero: #c70039;
$color-cuarto: #900c3f;
$color-quinto: #581845;
$color-sexto: #000000;

//Colores Generales
$color-fondo-body: #0f0e0e;
$color-texto-general: #ffffff;
$color-titulo-seccion: #ff5733;
$color-subtitulo:#c70039;

//Colores Navegacion
$color-btn-menu: #c70039;
$color-outline-link: #ff5733;
$color-fondo-link: #581845;
$color-fondo-notif: #c70039;

//Colores Botones
$color-border-btn: #c70039;
$color-fondo-btn: #141518;
$color-hover-btn: #0c0d0f;

//Tamaños
$fntsize-branch:clamp(2rem, 20vw, 9rem);
$fntsize-subbranch: clamp(0.2rem, 4vw, 2rem);
$fntsize-general: clamp(0.6rem, 4vw, 1rem);
$fntsize-tituloSeccion: clamp(1rem, 6vw, 2rem);
$fntsize-subtituloSeccion: clamp(0.7rem, 4vw, 1rem);
$fntsize-tituloCard: clamp(0.8rem, 5vw, 1.3rem);
$fntsize-subtituloCard: clamp(0.7rem, 3vw, 0.9rem);
$fntsize-textoCard: clamp(0.6rem, 2vw, 0.8rem);

//Fondos de Banners
$fondo-header-mobile: url(../img/banners/banner_movile03.png);
$fondo-header-desktop: url(../img/banners/banner_001.png);
$fondo-header-taller: url(../img/banners/banner_005.png);
$fondo-subs: url(../img/banners/banner_002.png);