//ESTE PARTIAL CONTIENE EL COMPONENTE CARD-ARTISTA
.card-artist {
    width: 100%;
    background-color: $color-sexto;
    border-radius: 0.9rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    .artist-hero {
      width: 100%;
    }
    .artist-text {
      width: 95%;
      h2 {
        margin: 10px 0px;
        font-family: $font-titulos;
        font-size: $fntsize-tituloCard;
        color: $color-subtitulo;
      }
      p {
        margin-bottom: 20px;
      }
    }
  }