//ESTE PARTIAL CONTIENE EL COMPONENTE CARD-PRODUCTO
.cardProducto {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background-color: $color-sexto;
  border-radius: 0.9rem;
  overflow: hidden;
  .contenedor-producto {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .contenedor-hero {
      width: 40%;
      padding: 20px;
      .producto-hero {
        width: 100%;
        height: auto;
      }
    }
    .contenedor-text {
      width: 60%;
      height: 300px;
      text-align: left;
      padding: 20px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h3 {
        margin: 10px 0px;
        font-family: $font-titulos;
        font-size: $fntsize-tituloCard;
        color: $color-subtitulo;
      }
      div {
        margin-bottom: 20px;
        h4 {
          margin-bottom: 10px;
          font-size: $fntsize-textoCard;
        }
        div {
          height: 100px;
          margin-right: 20px;
          overflow: auto;
          margin-bottom: 10px;
          &::-webkit-scrollbar {
            width: 7px;
          }
          &::-webkit-scrollbar-thumb {
            background-color: $color-cuarto;
            border-radius: 4px;
          }
          p {
            padding-right: 15px;
            font-size: $fntsize-textoCard;
          }
        }
        a {
          color: $color-texto-general;
          margin-bottom: 10px;
          text-transform: uppercase;
          font-size: $fntsize-textoCard;
        }
      }
      button {
        @include botones($color-fondo-btn, $color-hover-btn, $color-border-btn, $color-texto-general, 10px 16px);
        margin: 0;
        max-width: 100px;
        
        
        // width: 80%;
        //padding: 5px 10px;
        // background-color: $color-fondo-btn;
        // border: solid 1px $color-border-btn;
        // border-radius: 0.4rem;
        // font-family: $font-general;
        // font-weight: 300;
        // color: $color-texto-general;
        // &:hover {
        //   cursor: pointer;
        // }
        // &:active {
        //   transform: scale(0.9);
        //   transition: all 100ms;
        // }
      }
    }
  }
  .contenedor-clasificacion {
    padding: 10px;
    width: 100%;
    text-align: right;
    a {
      display: inline-block;
      font-size: $fntsize-textoCard;
      color: $color-texto-general;
      margin-right: 10px;
      .fa-star {
        color: $color-primero;
        font-size: 1rem;
        margin-right: 5px;
      }
      .fa-comment-dots {
        color: $color-segundo;
        font-size: 1rem;
        margin-right: 5px;
      }
    }
  }
}
