// .galeriaArtistas {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-around;
// }

.galeriaArtistas {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 350px));
  grid-auto-rows: auto;
  justify-content: center;
  grid-gap: 20px;
}