.boxContacto {
  width: 100%;
  .contactoForm {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: $fntsize-subtituloSeccion;
    color: $color-texto-general;
    .datosUs {
      width: 100%;
      max-width: 690px;
      display: flex;
      flex-direction: column;
      align-items: center;
      input {
        width: 100%;
        max-width: 500px;
        padding: 10px;
        border:none;
        margin-bottom: 10px;
        border-bottom: solid 1px $color-border-btn;
        background-color: $color-fondo-body;
        font-family: $font-general;
        font-size: $fntsize-general;
        color: inherit;
        &:focus {
          outline: none;
          background-color: transparent;
        }
        &::selection {
          background-color: $color-quinto;
          color: $color-texto-general
        }
        &::content {
          color: aqua;
        }
      }
    }
    .tipoMsn {
      margin: 30px 0;
      .label {
        margin-left: 5px;
        margin-right: 20px;
      }
    }
    .textMsn {
      width: 100%;
      max-width: 500px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      textarea {
        padding: 10px;
        border: solid 1px $color-border-btn;
        border-radius: 0.4rem;
        resize: none;
        background-color: $color-fondo-body;
        font-family: $font-general;
        font-size: $fntsize-general;
        color: inherit;
        &:focus {
          outline: none;
          background-color: $color-fondo-body;
        }
      }
    }
    .boton {
      .btnEnviar {
        padding: 10px 50px;
        background-color: $color-fondo-btn;
        border: solid 1px $color-border-btn;
        border-radius: 0.4rem;
        color: $color-texto-general;
        text-transform: uppercase;
        @include botones($color-fondo-btn, $color-hover-btn, $color-border-btn, $color-texto-general, 10px 70px);
      }
    }
  }
  .contenedor-maps {
    width: 100%;
    max-width: max-content;
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: $color-sexto;
    border-radius: 0.4rem;
    text-align: center;
    iframe {
      max-width: 100%;
      height: auto;
      aspect-ratio: 16/9;
    }
    ul {
      list-style: none;
      text-align: left;
      font-size: $fntsize-general;
      li {
        i {
          display: inline-block;
          margin: 10px;
          
        }
        p {
          display: inline;
        }
      }
    }
  }
}
p {
  margin-bottom: 30px;
}
