//ESTE PARTIAL CONTIENE ESTILOS GENERALES.
body {
  font-family: "Encode Sans", sans-serif;
  font-weight: 300;
  color: $color-texto-general;
  background-color: $color-fondo-body;
  main {
    width: 100%;
  }
}

.centrado {
  @extend %contenedorCentrado;
}

.seccionColumna {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.boxTituloSeccion {
  width: 100%;
  align-self: flex-start;
  margin-left: 0px;
  margin-bottom: 40px;
  border-bottom: 1px solid $color-quinto;
  .tituloSeccion {
    @extend %tituloDeSeccion;
  }
  p {
    font-size: 1rem;
    color: $color-subtitulo;
    line-height: 1.5rem;
  }
}
