.botonVerMas {
  width: 90%;
  max-width: 300px;
  padding: 10px 70px;
  margin: 50px 0;
  background-color: $color-fondo-btnvermas;
  border: solid 1px $color-border-btnvermas;
  border-radius: 0.4rem;
  font-family: $font-general;
  font-size: 1rem;
  color: $color-texto-general;
  text-decoration: none;
  text-align: center;
  &:hover {
    background-color: $color-hover-btnvermas;
  }
  &:active {
    transform: scale(0.9);
    transition: all 100ms;
  }
}
