.boxTituloSeccion {
  align-self: flex-start;
  margin-left: 0px;
  margin-bottom: 40px;

  .tituloSeccion {
    font-family: $font-titulos;
    font-size: 1.5rem;
    font-weight: 500;
    color: $color-titulo-seccion;
  }

  p {
    font-size: 1rem;
    color: $color-subtitulo;
    line-height: 1.5rem;
  }
}
