//Fuentes
$font-general: "Encode Sans", sans-serif;
$font-titulos: "Fira Sans", sans-serif;
$font-logo: Crystal Radio Kit;

//Paleta de Colores
$color-primero: #fed501;
$color-segundo: #ff5733;
$color-tercero: #c70039;
$color-cuarto: #900c3f;
$color-quinto: #581845;
$color-sexto: #000000;
$color-texto-general: #ffffff;
$color-titulo-seccion: #ff5733;
$color-subtitulo:#c70039;

//Tamaños

//Fondos
$fondo-header-principal: url(../img/banners/banner_movile03.png);